
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #e82525;
  --serviceimgvw: 14.5vw;
}

#root.active{
   overflow: hidden;
}

#root.active .Navigation{
  left: -5.5%;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
    text-shadow: none;
}

